*.out
build/*
.vscode/*
ecfeed.creator.user

**/conan.lock
**/conanbuildinfo.args
**/conanbuildinfo.txt
**/conanbuildinfo.cmake
**/conaninfo.txt
**/graph_info.json

**output

**/build/*
package

conanfile.py
conan_profile
test
deploy